<mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="main-sidenav">
      <mat-nav-list class="sidenav-list">
  
        <h3 class="sidenav-section-title">開発中限定セクション</h3>
  
        <a mat-list-item routerLink="/master-management">企業・従業員情報管理</a>
        <a mat-list-item routerLink="/user-access">ユーザー・アクセス管理</a>
        <a mat-list-item routerLink="/office-management">事業所管理</a>
        <a mat-list-item routerLink="/insurance-premium">保険料元データ確認</a>
        <a mat-list-item routerLink="/insurance-card">保険証管理</a>
        <a mat-list-item routerLink="/compensation-management">報酬・標準報酬</a>
        <a mat-list-item routerLink="/declaration-management">届出・申請管理</a>
        <a mat-list-item routerLink="/system-change-management">制度変更・年齢到達</a>
        <a mat-list-item routerLink="/payroll-export">給与連携・帳票出力</a>
        <a mat-list-item routerLink="/qualification-management">資格管理</a>
        <a mat-list-item routerLink="/qualification-enrollment">資格取得</a>
        <a mat-list-item routerLink="/login">ログイン</a>
  
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
  