<mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="main-sidenav">
      <mat-nav-list class="sidenav-list">
  
        <h3 class="sidenav-section-title">開発中限定セクション</h3>
  
        <a mat-list-item routerLink="/master-management">企業・従業員情報</a>
        <a mat-list-item routerLink="/insurance-premium">保険料算出・確認・出力</a>
        <a mat-list-item routerLink="/insurance-card">保険証管理</a>
        <a mat-list-item routerLink="/declaration-management">届出・申請管理</a>
        <a mat-list-item routerLink="/payroll-export">帳票出力</a>
        <a mat-list-item routerLink="/login">ログイン</a>
  
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
  