<mat-card class="office-management-section">
    <mat-card-title class="office-management-title">拠点情報管理</mat-card-title>
    <mat-card-content class="office-management-form">
      <form class="office-form">
        <mat-form-field appearance="fill" class="form-field office-name">
          <mat-label>拠点名</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field office-code">
          <mat-label>事業所番号</mat-label>
          <input matInput>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field address">
          <mat-label>所在地</mat-label>
          <input matInput>
        </mat-form-field>
  
        <button mat-raised-button color="primary" class="btn add-office">拠点追加</button>
      </form>
    </mat-card-content>
  </mat-card>
  